.inputFieldLabel {
	line-height: 1.5;
	font-size: 14px;
	font-weight: 600;
	color: #222;
	opacity: 0.8;
}

.inputFieldLabel-small {
	line-height: 1;
	font-size: 12px;
	font-weight: 500;
	color: #222;
	opacity: 0.8;
}
.inputclassName-small {
	border-radius: 3px !important;
	border-color: #eee !important;
	font-size: 12px !important;
	height: 30px;
}

.inputclassName {
	border-radius: 3px !important;
	border-color: #eee !important;
}

.addproductSectionContainer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: minmax(auto, 700px) 250px;
	grid-template-areas: "lefty righty";
	color: #444;
	margin-bottom: 20px;
}

.addproductSectionContainer-tags {
	grid-template-columns: 400px minmax(auto, 700px);
}

.addproductSectionContainer-components {
	grid-template-columns: .5fr .5fr;
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.addproductSectionTitleContainer {
	display: flex;
	justify-content: space-between;
}

.addprouctSectionTitle {
	font-weight: 700;
	font-size: 20px;
	// margin-left: 55px;
	margin-bottom: 20px;
}

.addproductSection {
	padding: 0 10px;
	background-color: #fff;
	border-radius: 3px;
}

.addproductSection-left {
	grid-area: lefty;
}

.addproductSection-left-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.addproductSection-left-header div {
	padding: 6px;
}
.addproductSection-left-header span {
	color: #40a9ff;
	font-size: 13px;
	margin-left: 5px;
}

.addproductSection-right {
	grid-area: righty;
}

.addproductSection-right-title {
	line-height: 1.6;
	font-size: 14px;
	font-weight: 600;
	color: #444;
}

.switchLabelContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	&-textContainer {
		margin-left: 20px;
	}

	&-lable {
		line-height: 1.6;
		font-size: 12px !important;
		font-weight: 600;
		color: #444;
	}

	&-desc {
		line-height: 1.6;
		font-size: 13px;
		font-weight: 500;
		color: #777;
	}
}

.mediaLibraryBodyContainer {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-areas: "lefty righty";

	&-left {
		grid-area: lefty;
		padding: 20px;

		&-header {
			// padding: 10px;
			margin-top: 20px;
		}

		&-imageListContainer {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			align-content: flex-start;

			&-item {
				width: 110px;
				height: 120px;
				border-radius: 4px;
				// border: 1px solid #9dd5f80e;
				padding: 5px;
				margin: 10px;
				overflow: hidden;
				cursor: pointer;
				position: relative;
				box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.11),
					0px 1px 1px 0px rgba(0, 0, 0, .11) !important;

				&-icon {
					position: absolute;
					top: 0;
					right: 0;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom-left-radius: 5px;
					border-top-left-radius: 3px;
					font-size: 12px;
					width: 25px;
					height: 25px;
					z-index: 1000;
					background-color: #1890ff;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					transition: .3s;
				}

				&:hover {
					img {
						transform: scale(0.9);
					}
				}
			}
		}
	}

	&-right {
		grid-area: righty;
		padding: 10px 20px;
		background-color: #fafafa;

		h4 {
			font-size: 16px;
		}

		&-ImageDetails {
			margin: 20px 0;
			display: flex;
			width: 100%;
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;

			&-imageContainer {
				width: 120px !important;
				height: 100px;
				margin-right: 15px;

				img {
					width: 120px !important;
					height: 100px;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-infoContainer {
				font-size: 15px;
				margin-right: 15px;

				h5.imageLibnameText {
					color: #333;
					word-break: break-all;
				}

				h5 {
					color: #777;
				}

				h5.imageLibdeleteText {
					color: rgb(241, 67, 67);
					cursor: pointer;
				}
			}
		}
	}
}

.componentsItemContainer {
	&-item {
		margin-bottom: 20px;
	}

	&-white {
		background-color: #fff;
		padding: 20px 10px;
	}
}

.groupComponentsContainer {
	h3 {
		margin-bottom: 15px;
		// background-color: #fafafa;
	}
	&-item {
		// background-color: #fafafa;
	}
}

.aboutToUploadImagesContainer {
	display: flex;

	&__uploadItem {
		width: 60px;
		height: 60px;
		padding: 8px;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		flex-direction: column;
		font-size: 17px;

		&-thumbnail {
			width: 100px;
			height: 100px;
			padding-top: 15px;
		}

		h5 {
			text-align: center;
			font-size: 10px;
			margin-top: 15px;
		}
	}

	&__item {
		width: 60px;
		height: 60px;
		padding: 8px;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		margin-right: 15px;

		&-thumbnail {
			width: 100px;
			height: 100px;
		}

		&-overlay {
			overflow: hidden;
			border-radius: 3px;
			background-color: rgba(57, 58, 71, 0.432);
			position: absolute;
			display: none;
			cursor: pointer;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover &-overlay {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 17px;
			color: #fff;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

// chnage form item styltes
.ant-form-item {
	margin-bottom: 12px !important;
}
