.inputFieldLabel {
	line-height: 1.5;
	font-size: 13px;
	font-weight: 500;
	color: #222;
	opacity: 0.8;
}

.checkBoxFieldLabel {
	line-height: 1.5;
	font-size: 13px;
	font-weight: 500;
	color: #222;
	opacity: 0.8;
	text-transform: uppercase;
}


.checkBoxSmallFieldLabel {
	line-height: 1;
	font-size: 12px;
	font-weight: 500;
	color: #222;
	opacity: 0.7;
}

.templateEditSmall {
	font-size: 13px !important;
}


.ant-tabs-tab:hover {
	color: #333 !important;
}

.inputFieldLabel-small {
	line-height: 1;
	font-size: 12px;
	font-weight: 500;
	color: #222;
	opacity: 0.8;
}
.inputclassName-small {
	border-color: #eee !important;
	font-size: 12px !important;
	height: 30px;
	border-radius: 5px !important;
}

.inputclassName {
	border-radius: 5px !important;
	// border-color: #eee !important;
	font-size: 13px;
}

.ant-input {
	border: 1px solid #eee ;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	border: 1px solid #eee;
	border-radius: 5px;
	font-size: 13px;
}


.addProduct__categoryBoxContainer-searchBox .ant-input-search.ant-input-affix-wrapper {
	// background-color: red;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size: 13px;
	color: #888 !important;

}


.selectClassName {
	margin-bottom: 0 !important;
}
.ant-form-item {
    margin-bottom: -10px !important;
}
.addproductSectionContainer {

	color: #444;
	margin-bottom: 20px;
}

.addproductSectionContainer-tags {
	grid-template-columns: 400px minmax(auto, 700px);
}

.addproductSectionContainer-components {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;


	&__item {
		width: 500px;
	}
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.addproductSectionTitleContainer {
	display: flex;
	justify-content: space-between;
}

.addprouctSectionTitle {
	font-weight: 700;
	font-size: 20px;
	// margin-left: 55px;
	margin-bottom: 20px;
}

.addproductSection {
	padding: 0 10px;
	background-color: #fff;
	border-radius: 3px;
}

.addproductSection-left {
	grid-area: lefty;
}

.addproductSection-left-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.addproductSection-left-header div {
	padding: 6px;
}
.addproductSection-left-header span {
	color: #40a9ff;
	font-size: 13px;
	margin-left: 5px;
}

.addproductSection-right {
	grid-area: righty;
}

.addproductSection-right-title {
	line-height: 1.6;
	font-size: 14px;
	font-weight: 600;
	color: #444;
}

.switchLabelContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	&-textContainer {
		margin-left: 20px;
	}

	&-lable {
		line-height: 1.6;
		font-size: 12px !important;
		font-weight: 600;
		color: #444;
	}

	&-desc {
		line-height: 1.6;
		font-size: 13px;
		font-weight: 500;
		color: #777;
	}
}

.mediaLibraryBodyContainer {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-areas: "lefty righty";


	&-selectedImages {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #eeee;
		margin-bottom: 20px;
		padding: 15px;
		&-header {
			// padding: 10px;
			margin-top: 20px;
		}

		&-imgContainer {
			width: 100%;
			height: 100%;
			// position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			border-radius: 50%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: .3s;
				cursor: pointer;
				
			}

		}

		
		&-imageListContainer {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			align-content: flex-start;

			&-item {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				// padding: 5px;
				margin: 10px;
				// cursor: pointer;
				position: relative;
				border: 1px solid #eee;

		    	box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
				


				&-menu {
					position: absolute;
					top: -10px;
					right: -10px;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
				
					font-size: 11px;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					z-index: 1000;
					background-color: #fff;
					box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
					color: #1890ff;
					cursor: pointer;
				}


				&-icon {
					position: absolute;
					bottom: 0;
					left: 0;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom-right-radius: 0px;
					border-top-right-radius: 8px;
					font-size: 12px;
					width: 25px;
					height: 25px;
					z-index: 1000;
					background-color: #188fff1a;
					color: #1890ff;
				}

				&:hover {
					img {
						transform: scale(0.9);
					}
				}
			}
		}


	}

	&-left {
		grid-area: lefty;
		padding: 20px;

		&-header {
			// padding: 10px;
			margin-top: 20px;
		}

		&-imageListContainer {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			align-content: flex-start;

			&-item {
				width: 110px;
				height: 120px;
				border-radius: 8px;
				// border: 1px solid #9dd5f80e;
				padding: 5px;
				margin: 10px;
				// overflow: hidden;
				// cursor: pointer;
				position: relative;
		    	box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
				


				&-menu {
					position: absolute;
					top: -10px;
					right: -10px;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
				
					font-size: 15px;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					z-index: 1000;
					background-color: #fff;
					box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
					color: #1890ff;
					cursor: pointer;
				}


				&-icon {
					position: absolute;
					bottom: 0;
					left: 0;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom-right-radius: 0px;
					border-top-right-radius: 8px;
					font-size: 12px;
					width: 25px;
					height: 25px;
					z-index: 1000;
					background-color: #188fff33;
					color: #1890ff;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					transition: .3s;
					cursor: pointer;
				}

				&:hover {
					img {
						transform: scale(0.9);
					}
				}
			}
		}
	}

	&-right {
		grid-area: righty;
		padding: 10px 20px;
		background-color: #fafafa;

		h4 {
			font-size: 16px;
		}

		&-ImageDetails {
			margin: 20px 0;
			display: flex;
			width: 100%;
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;

			&-imageContainer {
				width: 120px !important;
				height: 100px;
				margin-right: 15px;

				img {
					width: 120px !important;
					height: 100px;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-infoContainer {
				font-size: 15px;
				margin-right: 15px;

				h5.imageLibnameText {
					color: #333;
					word-break: break-all;
				}

				h5 {
					color: #777;
				}

				h5.imageLibdeleteText {
					color: rgb(241, 67, 67);
					cursor: pointer;
				}
			}
		}
	}
}

.componentsItemContainer {
	display: flex;
	justify-content: center;
	width:100%;
	flex-wrap: wrap;


	&-item {
		margin-bottom: 20px;
		width: 47%;
		margin-right: 20px;
		border-radius: 8px;
		

		&-item {
			margin: 0 20px 20px 20px;
			
		}
	}

	&-white {
		background-color: #fff;
		padding: 20px 10px;
	}
}

.groupComponentsContainer {
	h3 {
		margin-bottom: 15px;
		// background-color: #fafafa;
	}
	&-item {
		// background-color: #fafafa;
	}
}

.aboutToUploadImagesContainer {
	display: flex;
	padding: 10px 0;
	flex-wrap: wrap;

	&__uploadItem {
		width: 90px;
		height: 90px;
		padding: 8px;
		// border: 1px solid #d9d9d9;
		border-radius: 8px;
		margin-bottom: 20px;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		flex-direction: column;
		font-size: 27px;
		background-color: #f7f7f7;
		color: rgba(197, 194, 194, 0.863);
		position: relative;
		transition: all 300ms;
		box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;


		&-small {
			width: 50px;
			height: 50px;
		}


		&-plus {
			cursor: pointer;
			position: absolute;
			color:  #1890ff;
			top: -13px;
			right: -9px;
			font-size: 10px;
			background-color: #ffff;
			width: 22px;
			height: 22px;
			display: flex;
			justify-content: center;
			align-items:center;
			border-radius: 50%;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
		}

		&-thumbnail {
			width: 100px;
			height: 100px;
			padding-top: 15px;
		}

		h5 {
			text-align: center;
			font-size: 10px;
			margin-top: 15px;
		}
	}


	&__uploadItem:hover {
		background-color: #dddd;
	}

	&__item {
		width: 90px;
		height: 90px;
		// padding: 8px;
		// border: 1px solid #d9d9d9;
		border-radius: 8px;
		// overflow: hidden;
		position: relative;
		margin-right: 15px;	
		background-color: #fff;
		transition: 300ms;
		box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
		margin-bottom: 20px;


		&-small {
			width: 50px;
			height: 50px;
		}

		

		&-remove {
			cursor: pointer;
			position: absolute;
			color:  #1890ff;
			top: -13px;
			right: -9px;
			font-size: 10px;
			background-color: #ffff;
			width: 22px;
			height: 22px;
			display: flex;
			justify-content: center;
			align-items:center;
			border-radius: 50%;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
		}


		&-cover {
			position: absolute;
			background-color:#188fff5b;
			color:#1890ff; 
			border-top-right-radius: 8px;
			border-bottom-left-radius: 8px;
			bottom: 0;
			left: 0;
			font-size: 10px;
			width: 22px;
			height: 22px;
			display: flex;
			justify-content: center;
			align-items:center;
		}


		&-thumbnail {
			width: 100px;
			height: 100px;
		}


		&-imgContainer {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			overflow: hidden;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				
			}

		}
		// &-overlay {
		// 	overflow: hidden;
		// 	border-radius: 3px;
		// 	background-color: rgba(57, 58, 71, 0.432);
		// 	position: absolute;
		// 	display: none;
		// 	cursor: pointer;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// }

		// &:hover &-overlay {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	font-size: 17px;
		// 	color: #fff;
		// }

	
	}


	&__item:hover {
		background-color: #f7f7f7;
	}
}

// chnage form item styltes
.ant-form-item {
	margin-bottom: 12px !important;
}

.ant-form-item > .ant-col > .ant-form-item-control-input > .ant-form-item-control-input-content > 
.ant-select 
{
	margin-bottom: -15px !important;
}

// double row inputs

.dubbleRowInputs {
	display: flex;
	width: 100%;
	&__item {
		width: calc(50% + 50px);
		margin-right: 12px;
	}
}


// ant form inputs
.ant-form-item-has-error
 .ant-input:not([disabled]):hover,
  .ant-form-item-has-error 
  .ant-input-affix-wrapper:not([disabled]):hover {
    border-color: #ff4d4f !important;
}


// component items container
.componentItemsContainer {
	display: flex;
	flex-wrap: wrap;
	&__item {
		width: 190px; 
		min-width: 290px; 
		background-color: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 15px;
		margin-right: 15px;
	}
}


.siteInfoContainer {
	background-color: #fff;
	margin: 20px; 
	padding: 20px; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	color: #22292e;

	h2 {
		margin: 0;
		padding: 0;
	}

	&__item {
		padding-top: 10px;
		width: 90%;
		display: flex;
		flex-wrap: wrap;

		&-item {
			margin-right: 10px;
			width:48%;

			&-left {
				width:48%;
			
			}
		}
	}
	
}


// add order css


.addOrderContainer {
	margin: 10px 20px;


	h3 {
		// font-size: 19px;
	}

	&__container {
		padding: 30px 20px 20px 20px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #fff;
		border-radius: 4px;
		// display: flex;

		
	&-address {
	padding-top: 30px;
	}



		&-OrderInfoContainer {
			display: flex;

			


			&-left {
				width: 60%;
				padding: 30px 0;
			}

			&-right {
				width: 40%;
				padding: 30px 0;

			}
		}



		&-productItemContainer {

		}

		&-orderSummary {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				background-color: #188fff1a;
				color: #1890ff;
				font-size: 14px;
				margin-bottom: 15px;
				margin-left: 17px;
				text-align: left;
				font-weight: 400;
				padding: 2px 20px 2px 20px;
				border-radius: 25px;
				

				span {
					margin-right: 10px;
					font-size: 14px;
					color: #1890ff;
				}
			}
		} 



		// &-left {
		// 	width: 70%;
		// }

		// &-right {
		// 	width:30%;
		// }
	}
}




/*---------- Cart Item -------------------- */

.cart-item {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	margin-bottom: 15px;
}

.cart-item-quantityCounter {
	margin-right: 30px;

	@media screen and (max-width: 330px) {
		margin-right: 20px;
	}
}

.cart-item img {
	width: 55px;
	height: 55px;

	@media screen and (max-width: 430px) {
		width: 35px;
		height: 35px;
	}
}

.cart-item-info {
	margin: 0 15px 0 30px;
	flex: 1;

	@media screen and (max-width: 330px) {
		margin: 0 15px 0 15px;
	}
}

.cart-item-info h4 {
	max-width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 15px;
	color: #444;
	font-weight: 600;

	@media screen and (max-width: 430px) {
		font-size: 14px;
	}

	@media screen and (max-width: 430px) {
		max-width: 120px;
	}
}

.cart-item-info h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	// font-weight: 600;
	font-size: 12px;
	cursor: pointer;
	color: #777;

	@media screen and (max-width: 430px) {
		font-weight: 500;
	}
}

.cart-item-quantityCounter {
	background-color: #fafafa;
	padding: 6px;
	border-radius: 35px;
}
.cart-item-quantityCounter .fa-chevron-up {
	margin-bottom: 17px;
	color: #aaa;
	font-size: 14px;
}
.cart-item-quantityCounter .fa-chevron-down {
	margin-top: 5px;
	color: #aaa;
	font-size: 14px;
}

.cart-item h5 {
	margin: 0.5rem 0;
	// letter-spacing: var(--mainSpacing);
}
.item-amount {
	text-align: center;
	font-size: 13px;
	// font-weight: 700;
}
.remove-item {
	color: #aaa;
	cursor: pointer;
	font-size: 15px;
	margin-top: 10px;
}
.fa-chevron-up,
.fa-chevron-down {
	// color: $color-primary-1;
	cursor: pointer;
}



// components
.ant-collapse > .ant-collapse-item {
 border-bottom: none !important;
 background-color: #fff;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
 border-radius: 3px !important;
}

.formContainerForTwo {
	display: flex;
	width: 100%;
	&__item {
		width: calc(50% - 20px); 
		margin-right: 10px;
	}
}


// input feild
.ant-upload.ant-upload-select-picture-card {
	background-color: #fff !important;
}


.addOrderContainer-sectionTitle {
	background-color: #188fff1a;
	color: #1890ff;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: left;
	font-weight: 400;
	padding: 2px 20px 2px 20px;
	border-radius: 25px;
	display: inline-block;


	span {
		margin-right: 5px;
		font-size: 14px;
		color: #1890ff;
	}

	
}


// ant menu styles
.ant-menu-inline {
	border: none !important;
}


// .ant-select-multiple .ant-select-selector


.ant-select-multiple .ant-select-selector {
	border: 1px solid #eee !important;
	font-size: 12px !important;
	min-height: 30px;
	border-radius: 5px !important;
}




.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
	border-right: none;
}




// ant tags 
.ant-tag.ant-tag-checkable {
	background-color: #188fff1a;
	color: #1890ff;
	margin-top: 10px;
	border-radius: 5px;
}


.ant-tag.ant-tag-checkable.ant-tag-checkable-checked {
	background-color: #1890ff;
	color: #fff; 
}


// antd badge count 

.addProductGridContainer__item-body .ant-badge-count {
	background-color: #188fff0e;
	color: #1890ff;
	display: inline-block	;
	margin-left: 10px ;
	font-size: 11px;
}


.notificationIconContainer .ant-badge-count {
	background-color: #188fff27;
	color: #1890ff;
	display: inline-block;
	margin-left: -3px !important ;
	font-size: 11px;
}

.notificationItem {
	display: flex;
	align-items: center;
	padding: 15px;
	&-icon {
		background-color: #188fff0e;
		color: #1890ff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

    &-info {
		padding: 0 15px;

	
	h3 {
		font-size: 14px;
		font-size: 070;
		margin: 0;
		padding: 0;
		
	}

	h4 {
		font-size: 13px;
		font-size: 300;
		margin: 0;
		padding: 0;
		color: #6666;
	}

	h2 {
		font-size: 13px;
		font-size: 700;
		color: #1890ff;
		margin: 0;
		padding: 0;
	}

}

&-unread {
	background-color: #188fff0e;
}
}

// ant tabs tab 
.ant-tabs-tab-active {
	// color: #333 !important;
}

.ant-tabs-tab-active{

}

.ant-tabs-tab{
	// background-color: #fff !important;
	// border: none !important;
	border-radius: 8px;

}

// ant uploader 

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
	border-radius: 8px;
	color: rgba(197, 194, 194, 0.863);
	transition: all 300ms;
	box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
	width: 90px;
	height: 90px; 
	background-color: #f7f7f7 !important;

}


.product-attributeTag {
	background-color: #188fff1a;
	color: #1890ff;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
	padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
	white-space: nowrap;
	cursor: pointer;


	&-active {
		background-color: #1890ff;
        color: #fff;
	}
}


// invoice container


  .ReadMsgBody {
    width: 100%;
    background-color: #ffffff;
  }

  .ExternalClass {
    width: 100%;
    background-color: #ffffff;
  }




  .visibleMobile {
    display: none;
  }

  .hiddenMobile {
    display: block;
  }

  .invoiceContainer {
	div,
	p,
	a,
	li,
	td {
	  -webkit-text-size-adjust: none;
	}

	p {
		padding: 0 !important;
		margin-top: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
	  }
   }

  @media only screen and (max-width: 600px) {
 
	.invoiceContainer {

		* {
			line-height: 1.6 !important;
		}

		table[class=fullTable] {
			width: 98% !important;
			clear: both;
		  }
	  
		  table[class=fullPadding] {
			width: 85% !important;
			clear: both;
		  }
	  
		  table[class=col] {
			width: 45% !important;
		  }
	  
	}
    
    .erase {
      display: none;
    }
  }

  @media only screen and (max-width: 420px) {
	  .invoiceContainer {
		table[class=fullTable] {
			width: 100% !important;
			clear: both;
		  }
	  
		  table[class=fullPadding] {
			width: 85% !important;
			clear: both;
		  }
	  
		  table[class=col] {
			width: 100% !important;
			clear: both;
		  }
	  
		  table[class=col] td {
			text-align: left !important;
		  }
	  
	  }
 
    .erase {
      display: none;
      font-size: 0;
      max-height: 0;
      line-height: 0;
      padding: 0;
    }

    .visibleMobile {
      display: block !important;
    }

    .hiddenMobile {
      display: none !important;
    }
  }



// overview 
.overviewContainer {
	margin: 20px;


	&__userVisits {
		margin-right: 15px;
		padding: 10px; 
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media screen and (max-width: 1100px) {
			justify-content: center;
		}

		&-card {
			margin-right: 15px;
			margin-bottom: 20px;
			min-width: 220px;
			padding: 10px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
					
			&-body {
				display: flex;
				align-items: bottom;
				justify-content: space-between;
				padding: 5px;

				&-iconbox {
					color: #1890ff;
					font-size: 30px;

				}

				&-info {
					margin-left: 20px;
					text-align: center;
					h3 {
						font-size: 11px;
						color: #777;
						margin: 0;
						padding: 0;
						text-transform: uppercase;
					}
					

					h2 {
						font-size: 22px;
						color: #333;
						font-weight: 600;
						margin: 0;
						padding: 0;
					}
				}

			}
			&-footer {
				padding-top: 10px;
				border-top: 1px solid #eee;
				h3 {
					font-size: 13px;
					color: #bdb7b7;
					margin:0;
					padding:0;


					span {
						margin-right: 3px;
					}
				}
			}
		}
	}	


	&__body {
		display: flex;

		
		@media screen and (max-width: 1150px) {
			flex-wrap: wrap;
		}
	
		&-body {
			padding: 15px 0 5px 0;
		}
	


		&-apiVisits {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: calc(50% - 15px);
			max-width: calc(50% - 15px);
			margin-right: 15px;
			margin-bottom: 20px;
			padding: 10px; 
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			
			@media screen and (max-width: 1150px) {
				max-width: 100%;
				margin-right: 0;
			}

			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;


				h2 {
					font-size: 18px;
					color: #333;
					font-weight: 600;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
				}

				h3 {
					font-size: 12px;
					color: #777;
					margin: 0;
					padding: 0;
				}
				
			}
		}

		&-platformVisits {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: calc(50% - 15px);
			max-width: calc(50% - 15px);
			margin-bottom: 20px;
			padding: 10px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
					
				
			@media screen and (max-width: 1150px) {
				max-width: 100%;
			}

			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;


				h2 {
					font-size: 16px;
					color: #333;
					font-weight: 600;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
				}

				h3 {
					font-size: 12px;
					color: #777;
					margin: 0;
					padding: 0;
				}
				
			}
		}


		&-footer {
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid #eee;
			h3 {
				font-size: 13px;
				color: #bdb7b7;
				margin:0;
				padding:0;


				span {
					margin-right: 3px;
				}
			}
		}


	}
}


// addd new page
.addNewPageContainer {
	margin: 10px 20px;





	&__heading {

	}

	&__header {
		padding: 15px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #fff;
		border-radius: 8px;
		margin-bottom: 20px;
	}

	&__body {
		padding: 15px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #fff;
		border-radius: 8px;

	}
}

// ck editor default changes
.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
	background-color: #fff !important;
}

.ck.ck-toolbar.ck-toolbar_grouping {
	border: 1px solid #eee !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}
.ck.ck-content.ck-editor__editable {
	border-top: none !important;
	border-color: #eee !important;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}



// brand Detail
.brandDetailContainer {
	margin: 10px 20px;
	
	&__pricing {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		padding: 15px;
		border-radius: 8px;
	};

	&__imageGallary {
		// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		// padding: 15px;
		border-radius: 8px;
	}


	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		h3 {
			font-size: 13px;
			color: #7777;
			text-transform: uppercase;
			font-weight: 700;
		}
	}


	&__brand {
		display: flex;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		padding: 15px;
		border-radius: 8px;
		cursor: pointer;


		&-coverbox {
			width: 80px;
			height: 80px;
			overflow: hidden;
			border-radius: 8px;
			margin-right: 20px;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-info {
			h2 {
				font-size: 15px;
				color: #333;
				font-weight: 600;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
			}

			h3 {
				font-size: 12px;
				color: #777;
				margin: 0;
				padding: 0;
			}
		}
	} 

	&__header {
		padding: 15px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #fff;
		border-radius: 8px;
		margin-bottom: 20px;
		display: flex;




		&-coverContainer {
			width: 130px;
			height: 130px;
			overflow: hidden;
			border-radius: 8px;
			box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
			margin-right: 20px;


			&-category {
				width: 30%;
		     	height: 200px
			}

			&-product{
				width: 40%;
		     	height: 250px;
			}

			&-icon {
				width: 80px;
				height: 80px; 
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-info {
		

			h2 {
				font-size: 18px;
				color: #333;
				font-weight: 600;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				margin-bottom: 15px;
			}

			h4 {
				font-size: 15px;
				color: #1890ff;
				font-weight: 500;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			h3 {
				font-size: 13px;
				color: #777;
				margin: 0;
				padding: 0;
				margin-bottom: 15px;
				line-height: 1.8;
				width: 90%;

				span {
					background-color: #188fff13;
					color: #505255d7;
					padding: 2px 6px;
					border-radius: 13px;
					margin-left: 5px;
					font-size: 12px;
					font-weight: 600;
					margin-right: 10px;
					margin-bottom: 10px;
					cursor: pointer;
				}
			}
		}
	}

	&__body {
		// padding: 15px;
		// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		// background-color: #fff;
		// border-radius: 8px;
	}
}




// smallcatCardContainer

.smallcatCardContainer {
	display: flex;
	flex-wrap: wrap;


	&__card {
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 8px;
		box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;
		margin-right: 20px;
		cursor: pointer;


		&-coverbox {
			width: 100%;
			height: 80px;


			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-info {
			display: flex;
			justify-content: center;
					
			h3 {
				margin-top:10px;
				font-weight: 600;
				color: #666;
				font-size: 13px;
				text-transform: capitalize;
			}
		}
	}
}


/// image gallary
.imgGallaryContainer {
	
}
.imgGallary-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.imgGallary-column {
  -ms-flex: 50%; /* IE10 */
  flex: 1 0 25%;
  max-width: 50%;
  padding: 0 5px;

}

.imgGallary-column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.625rem rgba(227, 231, 250, 0.4), 0 0.0625rem 0.125rem rgba(206, 220, 233, 0.5) !important;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imgGallary-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imgGallary-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.couponDetailProductItem {
	display: flex;
	align-items: center;
	margin-bottom: 15px;


	&__cover {
		width: 55px;
	   height: 55px;
	   background-color: #eee;
	   cursor: pointer;

		@media screen and (max-width: 430px) {
			width: 35px;
			height: 35px;
		}

	}

	&__info {

		margin: 0 15px 0 30px;
		flex: 1;
	
		@media screen and (max-width: 330px) {
			margin: 0 15px 0 15px;
		}


		h2 {
			max-width: 170px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 15px;
			cursor: pointer;
			margin-bottom: 15px;
			color: #444;
			font-weight: 600;
			text-transform: capitalize;
		
			@media screen and (max-width: 430px) {
				font-size: 14px;
			}
		
			@media screen and (max-width: 430px) {
				max-width: 120px;
			}
		}
		
		h3 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			// font-weight: 600;
			font-size: 13px;
			cursor: pointer;
			color: #1890ff;
		
			@media screen and (max-width: 430px) {
				font-weight: 500;
			}
		}
	}

}


// EMAIL LIST
.sentEmailListContainer {
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		padding: 10px 5px;
		cursor: pointer;
		transition: all 300ms;
		&:hover {
			background-color: #f7f7f7;
		}

		h3 {
			font-size: 14px;
			font-weight: 500;
			color: #222;
			margin: 0;
			padding: 0;
		}

		h4 {
			font-size: 13px;
			font-weight: 400;
			color: #222;
			margin: 0;
			padding: 0;
			margin: 0 10px;
			

		}
	}
}