.inputFieldLabel {
	line-height: 1.6;
	font-size: 14px;
	font-weight: 600;
	color: #444;
}

.addproductSectionContainer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: minmax(auto, 700px) 250px;
	grid-template-areas: "lefty righty";
	color: #444;
	margin-bottom: 20px;
}

.addproductSectionContainer-tags {
	grid-template-columns: 400px minmax(auto, 700px);
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.addproductSectionTitleContainer {
	display: flex;
	justify-content: flex-start;
}

.addprouctSectionTitle {
	font-weight: 700;
	font-size: 20px;
	// margin-left: 55px;
}

.addproductSection {
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
}

.addproductSection-left {
	grid-area: lefty;
}

.addproductSection-left-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.addproductSection-left-header div {
	padding: 6px;
}
.addproductSection-left-header span {
	color: #40a9ff;
	font-size: 13px;
	margin-left: 5px;
}

.addproductSection-right {
	grid-area: righty;
}

.addproductSection-right-title {
	line-height: 1.6;
	font-size: 14px;
	font-weight: 600;
	color: #444;
}

.switchLabelContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	&-textContainer {
		margin-left: 20px;
	}

	&-lable {
		line-height: 1.6;
		font-size: 12px !important;
		font-weight: 600;
		color: #444;
	}

	&-desc {
		line-height: 1.6;
		font-size: 13px;
		font-weight: 500;
		color: #777;
	}
}
