.inputFieldLabel {
	line-height: 1.5;
	font-size: 14px;
	font-weight: 600;
	color: #222;
	opacity: 0.8;
}

.ant-tabs-tab-active {
	color: #333 !important;
}

.ant-tabs-tab:hover {
	color: #333 !important;
}

.inputFieldLabel-small {
	line-height: 1;
	font-size: 12px;
	font-weight: 500;
	color: #222;
	opacity: 0.8;
}
.inputclassName-small {
	border-radius: 3px !important;
	border-color: #eee !important;
	font-size: 12px !important;
	height: 30px;
}

.inputclassName {
	border-radius: 3px !important;
	// border-color: #eee !important;
}

.ant-input {
	border: 1px solid #eee ;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	border: 1px solid #eee;
}

.selectClassName {
	margin-bottom: 0 !important;
}
.ant-form-item {
    margin-bottom: -10px !important;
}
.addproductSectionContainer {

	color: #444;
	margin-bottom: 20px;
}

.addproductSectionContainer-tags {
	grid-template-columns: 400px minmax(auto, 700px);
}

.addproductSectionContainer-components {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;


	&__item {
		width: 500px;
	}
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.addproductSectionTitleContainer {
	display: flex;
	justify-content: space-between;
}

.addprouctSectionTitle {
	font-weight: 700;
	font-size: 20px;
	// margin-left: 55px;
	margin-bottom: 20px;
}

.addproductSection {
	padding: 0 10px;
	background-color: #fff;
	border-radius: 3px;
}

.addproductSection-left {
	grid-area: lefty;
}

.addproductSection-left-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.addproductSection-left-header div {
	padding: 6px;
}
.addproductSection-left-header span {
	color: #40a9ff;
	font-size: 13px;
	margin-left: 5px;
}

.addproductSection-right {
	grid-area: righty;
}

.addproductSection-right-title {
	line-height: 1.6;
	font-size: 14px;
	font-weight: 600;
	color: #444;
}

.switchLabelContainer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	&-textContainer {
		margin-left: 20px;
	}

	&-lable {
		line-height: 1.6;
		font-size: 12px !important;
		font-weight: 600;
		color: #444;
	}

	&-desc {
		line-height: 1.6;
		font-size: 13px;
		font-weight: 500;
		color: #777;
	}
}

.mediaLibraryBodyContainer {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-areas: "lefty righty";

	&-left {
		grid-area: lefty;
		padding: 20px;

		&-header {
			// padding: 10px;
			margin-top: 20px;
		}

		&-imageListContainer {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			align-content: flex-start;

			&-item {
				width: 110px;
				height: 120px;
				border-radius: 4px;
				// border: 1px solid #9dd5f80e;
				padding: 5px;
				margin: 10px;
				overflow: hidden;
				cursor: pointer;
				position: relative;
				box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.11),
					0px 1px 1px 0px rgba(0, 0, 0, .11) !important;

				&-icon {
					position: absolute;
					top: 0;
					right: 0;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					border-bottom-left-radius: 5px;
					border-top-left-radius: 3px;
					font-size: 12px;
					width: 25px;
					height: 25px;
					z-index: 1000;
					background-color: #1890ff;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					transition: .3s;
				}

				&:hover {
					img {
						transform: scale(0.9);
					}
				}
			}
		}
	}

	&-right {
		grid-area: righty;
		padding: 10px 20px;
		background-color: #fafafa;

		h4 {
			font-size: 16px;
		}

		&-ImageDetails {
			margin: 20px 0;
			display: flex;
			width: 100%;
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;

			&-imageContainer {
				width: 120px !important;
				height: 100px;
				margin-right: 15px;

				img {
					width: 120px !important;
					height: 100px;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-infoContainer {
				font-size: 15px;
				margin-right: 15px;

				h5.imageLibnameText {
					color: #333;
					word-break: break-all;
				}

				h5 {
					color: #777;
				}

				h5.imageLibdeleteText {
					color: rgb(241, 67, 67);
					cursor: pointer;
				}
			}
		}
	}
}

.componentsItemContainer {
	display: flex;
	justify-content: center;
	width:100%;


	&-item {
		margin-bottom: 20px;
		width: 48%;
		margin-right: 20px;

		&-item {
			margin: 0 20px 20px 20px;
			
		}
	}

	&-white {
		background-color: #fff;
		padding: 20px 10px;
	}
}

.groupComponentsContainer {
	h3 {
		margin-bottom: 15px;
		// background-color: #fafafa;
	}
	&-item {
		// background-color: #fafafa;
	}
}

.aboutToUploadImagesContainer {
	display: flex;

	&__uploadItem {
		width: 60px;
		height: 60px;
		padding: 8px;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		flex-direction: column;
		font-size: 17px;

		&-thumbnail {
			width: 100px;
			height: 100px;
			padding-top: 15px;
		}

		h5 {
			text-align: center;
			font-size: 10px;
			margin-top: 15px;
		}
	}

	&__item {
		width: 60px;
		height: 60px;
		padding: 8px;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		margin-right: 15px;

		&-thumbnail {
			width: 100px;
			height: 100px;
		}

		&-overlay {
			overflow: hidden;
			border-radius: 3px;
			background-color: rgba(57, 58, 71, 0.432);
			position: absolute;
			display: none;
			cursor: pointer;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover &-overlay {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 17px;
			color: #fff;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

// chnage form item styltes
.ant-form-item {
	margin-bottom: 12px !important;
}

.ant-form-item > .ant-col > .ant-form-item-control-input > .ant-form-item-control-input-content > 
.ant-select 
{
	margin-bottom: -15px !important;
}

// double row inputs

.dubbleRowInputs {
	display: flex;
	width: 100%;
	&__item {
		width: 48%;
		margin-right: 10px;
	}
}


// ant form inputs
.ant-form-item-has-error
 .ant-input:not([disabled]):hover,
  .ant-form-item-has-error 
  .ant-input-affix-wrapper:not([disabled]):hover {
    border-color: #ff4d4f !important;
}


// component items container
.componentItemsContainer {
	display: flex;
	flex-wrap: wrap;
	&__item {
		width: 190px; 
		min-width: 290px; 
		background-color: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 15px;
		margin-right: 15px;
	}
}


.siteInfoContainer {
	background-color: #fff;
	margin: 20px; 
	padding: 10px; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	color: #22292e;

	h2 {
		margin: 0;
		padding: 0;
	}

	&__item {
		padding-top: 10px;
		width: 90%;
		display: flex;
		flex-wrap: wrap;

		&-item {
			margin-right: 10px;
			width:48%;

			&-left {
				width:48%;
			
			}
		}
	}
	
}


// add order css


.addOrderContainer {
	margin: 10px 20px;


	h3 {
		// font-size: 19px;
	}

	&__container {
		padding: 30px 20px 20px 20px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
		background-color: #fff;
		border-radius: 4px;
		// display: flex;

		
	&-address {
	padding-top: 30px;
	}



		&-OrderInfoContainer {
			display: flex;

			


			&-left {
				width: 60%;
				padding: 30px 0;
			}

			&-right {
				width: 40%;
				padding: 30px 0;

			}
		}



		&-productItemContainer {

		}

		&-orderSummary {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				color: #222;
				font-size: 16px;
				margin-bottom: 15px;
				margin-left: 17px;
				text-align: left;

				span {
					margin-right: 10px;
					font-size: 16px;
					color: #555;
				}
			}
		} 

		// &-left {
		// 	width: 70%;
		// }

		// &-right {
		// 	width:30%;
		// }
	}
}




/*---------- Cart Item -------------------- */

.cart-item {
	display: flex;
	align-items: center;
	padding: 5px 20px;
}

.cart-item-quantityCounter {
	margin-right: 30px;

	@media screen and (max-width: 330px) {
		margin-right: 20px;
	}
}

.cart-item img {
	width: 55px;
	height: 55px;

	@media screen and (max-width: 430px) {
		width: 35px;
		height: 35px;
	}
}

.cart-item-info {
	margin: 0 15px 0 30px;
	flex: 1;

	@media screen and (max-width: 330px) {
		margin: 0 15px 0 15px;
	}
}

.cart-item-info h4 {
	max-width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #444;

	@media screen and (max-width: 430px) {
		font-size: 14px;
	}

	@media screen and (max-width: 430px) {
		max-width: 120px;
	}
}

.cart-item-info h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	// font-weight: 600;
	font-size: 12px;
	cursor: pointer;
	color: #666;

	@media screen and (max-width: 430px) {
		font-weight: 500;
	}
}

.cart-item-quantityCounter {
	background-color: #fafafa;
	padding: 6px;
	border-radius: 35px;
}
.cart-item-quantityCounter .fa-chevron-up {
	margin-bottom: 10px;
	color: #aaa;
	font-size: 14px;
}
.cart-item-quantityCounter .fa-chevron-down {
	margin-top: 10px;
	color: #aaa;
	font-size: 14px;
}

.cart-item h5 {
	margin: 0.5rem 0;
	// letter-spacing: var(--mainSpacing);
}
.item-amount {
	text-align: center;
	font-size: 13px;
	// font-weight: 700;
}
.remove-item {
	color: #aaa;
	cursor: pointer;
	font-size: 15px;
	margin-top: 10px;
}
.fa-chevron-up,
.fa-chevron-down {
	// color: $color-primary-1;
	cursor: pointer;
}



// components
.ant-collapse > .ant-collapse-item {
 border-bottom: none !important;
 background-color: #fff;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
 border-radius: 3px !important;
}

.formContainerForTwo {
	display: flex;
	width: 100%;
	&__item {
		width: calc(50% - 20px); 
		margin-right: 10px;
	}
}