.categoryListContainer {
	// background-color: #fff;
	// margin: 15px;
	padding: 15px;
	border-radius: 2px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		&-searchBar {
			// flex: 1;
			width: 40%;
			// margin: 0 20px;
			display: flex;
			align-items: center;
		}

		&-searchBar-tag {
			// flex: 1;
			width: 60% !important;
			// margin: 0 20px;
			display: flex;
			align-items: center;
		}

		&-title {
			font-weight: 600;
			font-size: 18px;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			margin-right: 20px;
			margin-left: 15px;
		}
	}

	&__bodyContainerList {
		display: flex;
		&-item {
			margin: 20px;
			padding: 20px;
			border: 1px solid #f1f1f1;
			box-shadow: 1px 1px 1px #bdd7eb3a;
			border-radius: 5px;
			// background-color: rgba(238, 192, 106, 0.877);
			&-top {
				width: 150px;
				height: 70px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-body {
				h3 {
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}
		}
	}

	&__afterHeader {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 18px;
		margin-top: 5px;
	}

	&__categoryList {
		// background-color: red;
	}
}

.containerPageTitle {
	font-weight: 600;
	font-size: 18px;
	margin: 13px 15px -4px 15px;
	text-transform: uppercase;
	font-variant: tabular-nums;
}

.classnameofthecolumn {
	border: none !important;
	background-color: #fff !important;
}

.searchbarClassName {
	border: 1px solid #f7f7f7 !important;
}

.btnPrimaryClassName {
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btnPrimaryClassNameoutline {
	border: none !important;
	font-weight: 500;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #3fa6f9 !important;
	background-color: #4da9f500 !important;
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.11),
		0px 1px 1px 0px rgba(0, 0, 0, .11) !important;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.btnPrimaryClassNameoutline:active {
	color: #ffff !important;
	background-color: #4da9f52f !important;
}

.btnPrimaryClassNameoutline:hover {
	color: #3fa6f9 !important;
	background-color: #4da9f505 !important;
}

.ant-table-thead {
	tr {
		th {
			// color: #cf4d99 !important;
		}
	}
}

.iconSize {
	font-size: 16px;
	cursor: pointer;

	&-danger {
		color: rgba(255, 166, 0, 0.733);
	}
}

// aadd product

.addProductGridContainer {
	display: flex;
	padding: 10px;
	background-color: #f1f1f1;
	flex-wrap: wrap;

	&__left {
		flex: 1;
	}

	&__right {
		width: 30%;
		margin-left: 10px;
	}

	&__item {
		&-header {
			padding: 0 10px;
			height: 40px;
			border-bottom: 1px solid #fafafa;
			display: flex;
			align-items: center;
			h3 {
				font-size: 15px;
				margin: 0;
				padding: 0;
				font-weight: 600;
			}
		}
		&-body {
			padding: 10px;

			&-variationCard {
				&-item {
					h4 {
						font-size: 14px;
						font-weight: 600;
						margin: 0;
						padding: 0;
						margin-bottom: 5px;
						opacity: .8;
					}
					&-container {
						display: flex;
						&-left {
							margin-right: 10px;
							width: 49%;
						}

						&-right {
							width: 49%;
						}
					}

					&-attribute-contianer {
						display: flex;
						margin-top: 10px;
						flex-wrap: wrap;

						&-item {
							margin-right: 10px;
							margin-bottom: 10px;
							border-radius: 3px;
							padding: 10px;
							box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
							width: 184px;
						}
					}
				}
			}
		}
	}

	&__name {
		background-color: #fff;
		border-radius: 2px;
		margin-bottom: 10px;
	}

	&__model {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}
	&__image {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	&__price {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	&__category {
		margin-bottom: 10px;
	}

	&__tag {
		margin-bottom: 10px;
	}
	&__brand {
	}

	&-rightItemContainer {
		background-color: #fff;
		margin: 0 10px 10px 10px 10px;
		border-radius: 2px;

		&-header {
			padding: 0 10px;
			height: 40px;
			border-bottom: 1px solid #fafafa;
			display: flex;
			align-items: center;

			h3 {
				font-size: 15px;
				font-weight: 600;
				margin: 0;
				padding: 0;
			}
		}

		&-body {
			padding: 10px;
		}
	}
}

.addProduct__categoryBoxContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&-searchBox {
		margin-bottom: 10px;
	}
}

.ant-checkbox-group-item {
	display: block;
	margin-right: 0;
}
