.categoryListContainer {
	// background-color: #fff;
	// margin: 15px;
	padding: 15px;
	border-radius: 2px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		&-searchBar {
			// flex: 1;
			width: 40%;
			// margin: 0 20px;
			display: flex;
			align-items: center;
		}

		&-searchBar-tag {
			// flex: 1;
			width: 60% !important;
			// margin: 0 20px;
			display: flex;
			align-items: center;
		}

		&-title {
			font-weight: 600;
			font-size: 18px;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			margin-right: 20px;
			margin-left: 9px;
		}
	}

	&__bodyContainerList {
		display: flex;
		&-item {
			margin: 20px;
			padding: 20px;
			border: 1px solid #f1f1f1;
			box-shadow: 1px 1px 1px #bdd7eb3a;
			border-radius: 5px;
			// background-color: rgba(238, 192, 106, 0.877);
			&-top {
				width: 150px;
				height: 70px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-body {
				h3 {
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}
		}
	}

	&__afterHeader {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 18px;
		margin-top: 5px;
	}

	&__categoryList {
		// background-color: red;
	}
}

.containerPageTitle {
	font-weight: 600;
	font-size: 18px;
	margin: 13px 15px -4px 15px;
	text-transform: uppercase;
	font-variant: tabular-nums;
}

.classnameofthecolumn {
	border: none !important;
	background-color: #fff !important;
}

.searchbarClassName {
	border: 1px solid #f7f7f7 !important;
}

.btnPrimaryClassName {
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btnPrimaryClassNameoutline {
	border: none !important;
	font-weight: 600;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #3fa6f9 !important;
	background-color: #4da9f500 !important;
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.11),
		0px 1px 1px 0px rgba(0, 0, 0, .11) !important;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.btnPrimaryClassNameoutline:active {
	color: #ffff !important;
	background-color: #4da9f52f !important;
}

.btnPrimaryClassNameoutline:hover {
	color: #3fa6f9 !important;
	background-color: #4da9f505 !important;
}

.ant-table-thead {
	tr {
		th {
			// color: #cf4d99 !important;
		}
	}
}

.iconSize {
	font-size: 16px;
	cursor: pointer;

	&-danger {
		color: rgba(255, 166, 0, 0.733);
	}
}

// aadd product

.addProductGridContainer {
	display: flex;
	padding: 10px;
	background-color: #f1f1f1;
	flex-wrap: wrap;

	&__left {
		flex: 1;
	}

	&__right {
		width: 30%;
		margin-left: 10px;
	}

	&__item {
		&-header {
			padding: 0 10px;
			height: 40px;
			border-bottom: 1px solid #fafafa;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				font-size: 15px;
				margin: 0;
				padding: 0;
				font-weight: 600;
			}
		}
		&-body {
			padding: 10px;

			&-pricingContainer {
				display: flex;
				flex-wrap: wrap;

				&-item {
					width: 281px;
					padding: 10px;
					margin-right: 10px;
					margin-bottom: 10px;
					box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.1);
					border: 1px solid #fafafa;
					background-color: #ffff;
					border-radius: 5px;
					position: relative;

					&-edit {
						position: absolute;
						bottom: 20px;
						right: 20px;

						span {
							font-size: 16px;
							margin-left: 10px;
							cursor: pointer;
						}

						span.d {
							color: rgba(255, 0, 0, 0.473) !important;
						}
					}

					h3 {
						font-size: 15px;
						font-weight: 600;
						margin: 0;
						padding: 0;
						margin-bottom: 10px;
						// opacity: .8;
						margin-right: 15px;
					}

					&-two {
						display: flex;
						margin-bottom: 12px;
						div {
							margin-right: 10px;
						}
					}

					&-body {
						display: flex;

						div {
							margin-right: 15px;
							h6 {
								font-size: 13px;
								font-weight: 300;
								margin: -2px 0;
								margin-bottom: 10px;
								padding: 0;
								opacity: .9;
							}

							h4 {
								font-size: 16px;
								font-weight: 500;
								margin: 0;
								padding: 0;
								margin-bottom: 7px;
								opacity: .8;

								span {
									color: #3fa6f9;
									text-decoration: line-through;
								}
							}
						}
					}
				}
			}

			&-container {
				display: flex;
				flex-wrap: wrap;
			}

			&-variationCard {
				margin-right: 10px;
				margin-bottom: 10px;
				width: 281px;
				padding: 10px;
				display: flex;
				flex-direction: column;
				width: 100%;
				background-color: #fff;

				&-left {
					// width: 60%;
					// margin-right: 20px;
					width: 100%;
				}

				&-right {
					// width: 49%;
				}
				&-item {
					&-attribute {
						display: flex;
						flex-wrap: wrap;
						margin-top: 10px;
					}

					&-attribute-item {
						padding: 10px;
						padding-top: 15px;
						background-color: #fff;
						border-radius: 2px;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
						width: 180px;
						margin-right: 10px;
						margin-bottom: 10px;
						position: relative;

						&-delete {
							font-size: 13px;
							color: rgba(255, 0, 0, 0.479);
							position: absolute;
							top: 5px;
							right: 7px;
							cursor: pointer;
						}
					}

					h4 {
						font-size: 14px;
						font-weight: 600;
						margin: 0;
						padding: 0;
						margin-bottom: 5px;
						opacity: .8;
					}
					&-container {
						display: flex;

						&-left {
							margin-right: 10px;
							width: 49%;
						}

						&-right {
							width: 49%;
						}
					}

					&-attribute-contianer {
						display: flex;
						margin-top: 10px;
						flex-wrap: wrap;

						&-item {
							background-color: #fff;
							border-radius: 2px;
							box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

							margin-right: 10px;
							margin-bottom: 10px;
							border-radius: 3px;
							padding: 10px;
							border-bottom: 1px solid #f7f7f7;
						}
					}
				}
			}
		}
	}

	&__name {
		background-color: #fff;
		border-radius: 2px;
		margin-bottom: 10px;
	}

	&__model {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}
	&__image {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	&__price {
		background-color: #fff;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	&__category {
		margin-bottom: 10px;
	}

	&__tag {
		margin-bottom: 10px;
	}
	&__brand {
	}

	&-rightItemContainer {
		background-color: #fff;
		margin: 0 10px 10px 10px 10px;
		border-radius: 2px;

		&-header {
			padding: 0 10px;
			height: 40px;
			border-bottom: 1px solid #fafafa;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				font-size: 15px;
				font-weight: 600;
				margin: 0;
				padding: 0;
			}
		}

		&-body {
			padding: 10px;
		}
	}
}

.addProduct__categoryBoxContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-x: hidden;

	&-searchBox {
		margin-bottom: 10px;
	}
}

.ant-checkbox-group-item {
	display: block;
	margin-right: 0;
}

// category detail
.categoryDetailContainer {
	display: flex;
	margin: 10px;

	&__item {
		width: 250px;
		height: 250px;

		&-carousel {
			&-item {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

.checkicon {
	font-size: 18px;
	color: #e0dfdf;
}
.checkicon-active {
	font-size: 18px;
	color: rgba(0, 128, 0, 0.5);
}

.checkicon-error {
	font-size: 18px;
	color: rgba(255, 0, 0, 0.493);
}
